.bodySection{
    background: url('https://www.brandcrowd.com/gallery/brands/pictures/picture15267296545217.pngs') center center cover no-repeat scroll transparent;
    padding: 40px 0px;
    width: 100%;
    display: flex !important;
}
/* .bg-color{
    background-color: rgb(54, 59, 77);
} */

/* dark = #329789 */
/* light =  rgb(36, 116, 104); */

/* dark rgb(57, 53, 54); */
/* light #000000 */